.api_item {
	width: 100px;
	float: left;
	height: 56px;
	margin: 0px 3px 0px 4px;
	position: relative;
	top: 4px;
	cursor: pointer;
}

.api_item_drag {
	width: 100px;
	float: left;
	height: 56px;
	margin: 0px 3px 0px 4px;
	position: relative;
	top: 0px;
	cursor: pointer;
}

.api_item_img {
	position: absolute;
	left: 33px;
	top: 7px;
	width: 35px;
	height: 35px;
}

.api_item_text {
	position: absolute;
	left: 0;
	top: 42px;
	height: 20px;
	width: 100px;
	font-size: 12px;
	text-align: center;
}

.api_item:hover {
	background: url(images/apibg.png) 0px -54px;
	background-size: 100px 55px;
}

.api_item_selected {
	width: 100px;
	float: left;
	height: 56px;
	margin: 0px 5px 0px 4px;
	position: relative;
	top: 4px;
	cursor: pointer;
	background: url(images/apibg.png) 0px -54px;
	background-size: 100px 55px;
}

.api_item_remove_from_myservices {
	position: absolute;
	left: 40px;
	top: 58px;
	height: 20px;
	width: 20px;
	background: url(images/close.png);
	background-size: 20px 20px;
}