var controls = [];
var i = 0;
$(document).ready(init);

function init() {
	${CONTROLS_RENDER}	
	$("#PAGE1").show();	
	${CALL_EVENT_BINDER}
}

function getControl(id) {
	for(var i = 0; i < controls.length; i++) {
		if(controls[i].id == id) {
			return controls[i];
		}
	}
	return null;
}

${EVENT_BINDER}