.designer_bg {
	background: url(images/iphone.png);
	width: 380px;
	height: 743px;
	position: absolute;
	top: 10px;
	left: 2px;
	z-index: 4;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.designer_workshop {
	width: 341px;
	height: 484px;
	overflow-x: hidden;
	overflow-y: auto;
	background: #FDFAFA;
	position: absolute;
	top: 130px;
	left: 22px;
}
.control_selected {
	display: none;
	position: absolute;
	width: 0px;
	height: 0px;
	left: 0px;
	top: 0px;
	z-index: 0;
	border: 1px dotted white;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	opacity: 1;
	background-color: rgb(1, 223, 215);
}

.control_highlight {
    display: none;
    position: absolute;
    z-index: 0;
    border: 1px dashed red;
    border-radius: 5px;
}


.page_view{

}

.page_view input,
.page_view textarea
{
    cursor: pointer;
}