.export-war-proxy-setting-panel {
	position: absolute;
	z-index: 10;
	width: 600px;
	height: 400px;
	background-color: #ffffff;
	padding: 10px;
	border: 3px solid #6B6868;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	display: none;
}

.export-war-proxy-setting-panel .export-war-proxy-setting-panel-head {
	font-size: 20px;
	border-bottom: 2px dotted #000;
	padding: 10px 0px;
}

.export-war-proxy-setting-panel .export-war-proxy-setting-panel-content {
	
}

.export-war-proxy-setting-panel-content .export-war-proxy-setting-table {
	width: 100%;
}

.export-war-proxy-setting-table .export-war-proxy-setting-table-key {
	width: 40%;
	padding-right: 15px;
	text-align: right;
	font-size: 16px;
	color: #4D4D4D;
}

.export-war-proxy-setting-panel-content .export-war-input-text {
	display: block;
	width: 90%;
	height: 20px;
	padding: 6px 12px;
	font-size: 14px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.export-war-proxy-setting-panel-operation {
	border-top: 2px dotted #000;
	margin-top: 5px;
	padding: 5px 10px;
	text-align: right;
}

.export-war-proxy-setting-panel-operation .export-war-input-button {
	display: inline;
	height: auto;
	font-size: 14px;
	padding: 4px 5px;
	border: 0px;
	border-radius: 4px;
	background-color: #5bc0de;
	color: #fff;
	cursor: pointer;
}

.export-war-proxy-setting-panel-operation .export-war-input-button:hover {
	background-color: #0080ff;
}